@import url(//fonts.googleapis.com/css?family=Montserrat:400,800);
@import url(//fonts.googleapis.com/css?family=Open+Sans);

body{
	color: #2c3e50;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 17px !important;
}

a:hover {
    text-decoration: none !important;
}
.sidebar {
	position: fixed;
	top: 0px;
	padding-top: 10%;
	background-color: indigo;
	color: #fff;
}

.sidebar-header {
	text-align: center;
	margin-bottom: 10px;
}
.sidebar-header .title{
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 16px;
}

.sidebar-header .title a{
	text-decoration: none;
	color: #fff;
}

a.nav-link {
	padding-bottom: 5px;
	padding-top: 7px;
	color: #aaa;
}
a.nav-link i{
	font-size: 16px;
}
a.nav-link:hover { color: #777; }

#bio {
    font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact-list li .fa,
article .share .btn {
	-o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}
#contact-list li:hover .fa-twitter,
article .share .twitter:hover {
	color: #00ACEE;
	border-color: #00ACEE;
}
#contact-list li:hover .fa-linkedin {
	color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
	color: #E93E30;
}
#contact-list li:hover .fa-pinterest {
	color: #CC2127;
}
#contact-list li:hover .fa-rss {
	color: #e74c3c;
}
article .share .facebook:hover {
	color: #43609C;
	border-color: #43609C;
}
article .share .gplus:hover {
	color: #C13929;
	border-color: #C13929;
}

#contact-list-secondary {
	padding-bottom: 10px;
}

.page-header {
	font-family: 'Montserrat', sans-serif !important;
    font-weight: 800 !important;
    text-align: center;
    color: indigo !important;
    font-size: 42px !important;
    display: block;
}

@media only screen and (min-width: 768px) {
    .page-header{
        margin-right: 70px;
    }
}

article{
	margin-bottom: 40px;
}

.article_body{
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-date {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
}

article {
	padding: 0 5% 0;
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }
h1 {font-weight: 800 !important; font-family: 'Montserrat', sans-serif;  }
h2,h3,h4,h5,h6 {font-family: 'Montserrat', sans-serif;}
article.home h1,
article.home h2,
article.home h3,
article.home h4,
article.home h5,
article.home h6 {
	font-family: 'Montserrat', sans-serif;
	color: #f2756a;
}

article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h4 a {
	color: #4DA6FF;
}
article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
	color: indigo;
}

.author .author-image {
  float: left;
  margin-right: 20px;
}

footer {
	padding-top: 15px;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5% 0;
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}

.badge { background: #F2756A; }

#nav-menu{
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
}

ul.dropdown-menu>li>a>i.fa {
    width: 1.3em;
}

.navbar {
    padding: .5rem 0;
    width: 100%;
}

.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: column;
}

ul.navbar-nav {
    border-bottom: 1px solid #707070;
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 25px;
}

li.nav-item {
    border-top: 1px solid #707070;
    padding: 10px 10px;
    font-family: 'Montserrat', sans-serif;
    float: initial !important;
}

li.nav-item a {
     font-family: 'Montserrat', sans-serif;
}

li.nav-item:hover {
    background-color: #4DA6FF;
    color: #fff;
}

li.nav-item a:hover {
    color:#fff;
}

li.nav-item:active {
    background-color: #4DA6FF;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #ffffff;
}

.sign-btn {
    display: block;
    margin: 32px auto 0px;
    background-color: #4DA6FF;
    color: #ffffff;
    width: 230px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
}

.sign-btn:hover {
    background-color: #4B0082;
    border: 2px solid;
    color:#fff;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pager {
        padding: 0 5% 0;
}

@media only screen and (max-width: 1250px) {

     #sidebar ul.navbar-nav li.nav-item {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

}

@media only screen and (max-height: 800px) {
.sidebar {
    padding-top: 5%;
}
     #sidebar ul.navbar-nav li.nav-item {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.logo {
    max-width: 100%; 
}